<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Kevin's Past Vacations</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h1>Tell Me Where to Go!</h1>
            <h4><a href="/api">Read My API Documentation</a></h4>
            <form class="form-inline" id="newSuggestionForm" method="POST">
            <div class="form-group">
              <label for="place">Place</label>
              <input type="text" class="form-control" name="place" placeholder="Suggest a Place">
            </div>
            <div class="form-group">
              <label for="country">Country</label>
              <input type="text" class="form-control" name="country" placeholder="Enter Country">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
          </div>
        </div>
        <div class="col-md-6">
          <div>
            <h4>Places I've Been</h4>
              <div id="pastPlaces">
              </div>
          </div>
        </div>
        <div class="col-md-6">
          <div>
            <h4>Suggested Spots</h4>
            <div id="suggestedPlaces">
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
